@import url(http://fonts.googleapis.com/css?family=Voltaire);


/* Device details article */
article#device {
		float:none;
		margin:10px auto 20px;
		padding:10px;
		padding-bottom:40px;
		width:900px;
		height:100%;
		border-radius:10px 10px 10px 10px;
		}
/* Device config article */
article#devconf {
		float:none;
		margin:10px auto;
		padding:10px;
		padding-bottom:60px;
		width:900px;
		height:100%;
		background-color:rgba(255,90,140,0.5);
		border-radius:10px 10px 10px 10px;
		}


/* Device description */
article#device h2 {
		float:left;
		margin:0px 20px;
		height:45px;
		width:860px;
		font-size:32px;
		font-family:'Voltaire',sans-serif;
		text-align:left;
		overflow:hidden;
		}
article#device p {
		float:none;
		margin:0px auto 10px;
		padding:5px 10px;
		width:800px;
		height:100%;
		min-height:90px;
		font-size:14px;
		font-family:sans-serif;
		text-align:left;
		overflow:auto;
		background-color: rgba(255,255,255,0.2);
		border-radius:10px 10px 10px 10px;
		}
article#device img {
		float:left;
		margin:20px 20px 20px 60px;
		width:280px;
		height:210px;
		box-shadow:0px 0px 10px #050505;
		}


/* Device config */
article#devconf h2 {
		float:left;
		margin:0px 20px;
		height:45px;
		width:860px;
		font-size:32px;
		font-family:'Voltaire',sans-serif;
		text-align:left;
		overflow:hidden;
		}
article#devconf h3 {
		float:left;
		margin:10px 20px 0px;
		margin-left:40px;
		height:36px;
		width:860px;
		font-size:24px;
		font-family:'Voltaire',sans-serif;
		text-align:left;
		overflow:hidden;
		}


/* Table */
table#info	{
		float:none;
		margin:10px auto;
		font-size:16px;
		overflow-x:auto;
		overflow-y:hidden;
		}
table#info th 	{
		padding:1px 5px;
		background-color: rgba(100,100,100,0.1);
		text-align:left;
		width:150px;
		}
table#info td 	{
		padding:1px 5px;
		background-color: rgba(100,100,100,0.1);
		text-align:right;
		width:240px;
		}
table#data	{
		margin:10px auto 20px;
		overflow:scroll;
		font-size:12px;
		width:900px;
		}
table#data th	{
		padding:1px 5px;
		background-color: rgba(200,0,200,0.1);
		width:120px;
		}
table#data td	{
		padding:1px 5px;
		background-color: rgba(255,255,255,0.5);
		width:120px;
		}
table#dstr	{
		margin:0px auto;
		overflow:scroll;
		font-size:12px;
		width:885px;
		}
table#dstr th	{
		padding:1px 5px;
		background-color: rgba(0,200,200,0.1);
		width:120px;
		}
table#dstr td	{
		padding:1px 5px;
		background-color: rgba(255,255,255,0.5);
		width:120px;
		}


/* border-section */
section.dat	{
		clear:both;
		text-align:center;
		font-family:sans-serif;
		font-size:12px;
		margin:5px auto;
		padding:5px;
		width:800px;
		height:20px;
		background-color:transparent;
		}
section#graph	{
		clear:both;
		text-align:center;
		margin:10px auto;
		padding:10px;
		width:850px;
		height:500px;
		background-color:transparent;
		}
section#dstr	{
		clear:both;
		text-align:center;
		margin:0px auto 20px;
		padding:0px;
		width:100%;
		height:250px;
		overflow-y:scroll;
		background-color:transparent;
		}
p.graphselect	{
		font-size:10px;
		width:400px;
		height:14px;
		text-align:left;
		margin:5px 10px;
		}


/* device config table */
table.config	{
		float:none;
		margin:0px auto 10px;
		width:700px;
		font-size:14px;
		font-family:sans-serif;
		}
table.config th {
		padding:1px 5px;
		width:20%;
		text-align:right;
		background-color: rgba(255,255,255,0.5);
		}
table.config td {
		padding:1px 5px;
		width:75%;
		text-align:left;
		background-color: rgba(255,255,255,0.5);
		}
article#devconf span.config {
		float:right;
		margin:0px 40px;
		}


/* Device isUser Web Interface */
article#webui	{
		float:none;
		margin:10px auto 20px;
		padding:10px;
		padding-bottom:60px;
		width:900px;
		height:100%;
		background-color:rgba(173,255,47,0.5);
		box-shadow:0px 0px 5px #BFD08D,0px 0px 5px #ffffff inset;
		border-radius:10px 10px 10px 10px;
		}
article#webui h2 {
		float:left;
		margin:0px 20px 10px;
		height:45px;
		width:860px;
		font-size:32px;
		font-family:'Voltaire',sans-serif;
		text-align:left;
		overflow:hidden;
		}
article#webui table {
		float:none;
		margin:0px auto 10px;
		width:700px;
		font-size:14px;
		font-family:sans-serif;
		}
article#webui table th {
		padding:1px 5px;
		width:20%;
		text-align:right;
		background-color: rgba(255,255,255,0.5);
		}
article#webui table td {
		padding:1px 5px;
		width:75%;
		text-align:left;
		background-color: rgba(255,255,255,0.5);
		}
article#webui span {
		float:right;
		margin:0px 40px;
		}



/*EOF*/